h1 {
    color: black;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: purple;
}

#subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: orange;
}

#display-time {
    color: orangered;
}